APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:WHOAHEREISASUPERLONGKEYBROIHOPEYOURPLEACEITWITHSOMETHINGBETTER
APP_URL=http://mapil.co

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=mapil
DB_USERNAME=root
DB_PASSWORD=supersecure

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=key-38228c18fea873959191996774f08a9a
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN=mapil.co
MAILGUN_SECRET=key-DONTTELLANYONE

MIXPANEL_TOKEN=SUPERCOOLMIXPANELTOKEN

MONGO_URL=mongodb://localhost:27017;
