@import "../variables";

$small-font-size: 0.75em;
$badges: (
  "alert": $yellow-300,
  "default": $gray-300,
  "error": $red-300,
  "notice": $blue-300,
  "success": $green-300
) !default;

@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}
