@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "components/flashes";
@import "components/growl";
@import "components/flexboxes";
@import "components/badges";
@import "components/pagination";
@import "components/insecure-header";
@import "components/secure-header";
@import "components/footer";
@import "pages/api-docs";
@import "pages/terms";
@import "pages/error";
@import "pages/auth";
@import "pages/home";

@import "variables";

body {
    padding-top: 75px;
}

tr:nth-child(even) {
    background-color: lighten($gray-300, 65%);

}
.pagination-container {
    @include span-columns(12);
    text-align: center;
}
#{$all-buttons} {
  &.green {
    background-color: $green-300;
      &:hover,
      &:focus {
        background-color: shade($green-300, 20%);
      } 
      &:disabled {
        &:hover {
          background-color: $green-300;
        }
      }         
  }
  &.red {
    background-color: $red-300;
      &:hover,
      &:focus {
        background-color: shade($red-300, 20%);
      } 
      &:disabled {
        &:hover {
          background-color: $red-300;
        }
      }         
  }  
  &.gray {
    background-color: lighten($gray-300,30%);
      &:hover,
      &:focus {
        background-color: shade(lighten($gray-300,30%), 20%);
      } 
      &:disabled {
        &:hover {
          background-color: lighten($gray-300,30%);
        }
      }         
  }    
}
.api-secret-group {
    .toggle-show, .toggle-hide {
        color: $blue-300;
        cursor: pointer;
    }
    &:not(.shown) {
        .api-secret, .toggle-hide {
            display: none;
        }    
        .toggle-show {
            display: inline;
        }        
    }
    &.shown {
        .api-secret, .toggle-hide {
            display: inline;
        }           
        .toggle-show {
            display: none;
        }
    }
}
.container {
    @include outer-container;
    padding: 0 10px 50px 0;
}

#add-email-address-form {
    display: none;
}

div.email-logs {
    @include span-columns(12);
    @include shift(0);
    table {
        .button-column {

        }
        td {
            padding-left: 5px;
            padding-right: 5px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            &:not(.button) {
                font-size: .9em;
            }
        }
        .button {
            padding: .5em;
        }
    }

}
div.email-addresses, div.email-addresses-hero {
    @include span-columns(8);
    @include shift(2);

    @include media(max-width 800px) {
        @include span-columns(12);
        @include shift(0);
    }    
}

form.auth_form {
    @include span-columns(6);
    @include shift(3);

    div.error {
        @extend .flash-error;
    }

    @include media(max-width 800px) {
        @include span-columns(12);
        @include shift(0);
    }
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}


