$gray-300: #50514f; //rgba(80, 81, 79, 100)
$red-300: #f25f5c; //rgba(242, 95, 92, 100)
$yellow-300: #ffe066; //rgba(255, 224, 102, 100)
$blue-300: #247ba0; //rgba(36, 123, 160, 100)
$green-300: #70c1b3; //rgba(112, 193, 179, 100)